<li class="sidebar__item">
  <a href="about-court.html" class="sidebar__link">О суде</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="competence.html" class="sidebar__link">Компетенция</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="legal-basis-activity.html" class="sidebar__link">Правовая основа деятельности</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="structure.html" class="sidebar__link">Структура</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="judges-register.html" class="sidebar__link">Реестр судей</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="chairman.html" class="sidebar__link">Председатель</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="apparatus.html" class="sidebar__link">Аппарат</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="scientific-advisory-board.html" class="sidebar__link">Научно-консультативный совет</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="history.html" class="sidebar__link">История</a>
  <i class="bi bi-chevron-right"></i>
</li>