<li class="sidebar__item">
  <a href="analitics.html" class="sidebar__link">Экспертно-аналитическая деятельность</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-cases-review.html" class="sidebar__link">Обзоры судебной практики</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-statistics.html" class="sidebar__link">Судебная статистика </a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="statistics-info.html" class="sidebar__link">Справочно-статистическая информация</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-activity-reports.html" class="sidebar__link">Отчеты о деятельности</a>
  <i class="bi bi-chevron-right"></i>
</li>