<li class="sidebar__item">
  <a href="court-cases.html" class="sidebar__link">Судебные дела</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-cases-info.html" class="sidebar__link">Дела в производстве</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-acts.html" class="sidebar__link">Судебные акты</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="solutions-annotations.html" class="sidebar__link">Аннотации решений</a>
  <i class="bi bi-chevron-right"></i>
</li>