<li class="sidebar__item">
  <a href="court-cases.html" class="sidebar__link">Судебные дела</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-activity-info.html" class="sidebar__link">Информация о судебных делах</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-members.html" class="sidebar__link">Судебные акты</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-resolutions.html" class="sidebar__link">Аннотации решений</a>
  <i class="bi bi-chevron-right"></i>
</li>