<li class="sidebar__item">
  <a href="news.html" class="sidebar__link">новости</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="court-news.html" class="sidebar__link">новости суда</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="#" class="sidebar__link">Новости Содружества</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="#" class="sidebar__link">Новости высших национальных судов</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="news-archive.html" class="sidebar__link">Архив новостей Суда</a>
  <i class="bi bi-chevron-right"></i>
</li>