<section class="container partners">
  <div class="swiper slider-partner swiper-initialized swiper-horizontal swiper-backface-hidden">
    <div class="swiper-wrapper" id="swiper-wrapper" aria-live="off">
      <div class="swiper-slide partner__card" role="group" aria-label="5 / 7" data-swiper-slide-index="4">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/antiterror.png" alt="logo" />
          <p>Антитеррористический центр государств-участников СНГ</p>
        </a>
      </div>
      <div class="swiper-slide swiper-slide-prev partner__card" role="group" aria-label="6 / 7"
        data-swiper-slide-index="5">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/rss.png" alt="logo" />
          <p>Региональное содружество в области связи</p>
        </a>
      </div>
      <div class="swiper-slide swiper-slide-active partner__card" role="group" aria-label="7 / 7"
        data-swiper-slide-index="6">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/default-partner.png" alt="logo" />
          <p>Межпарламентская ассамблея государств-участников СНГ</p>
        </a>
      </div>
      <div class="swiper-slide swiper-slide-next partner__card" role="group" aria-label="1 / 7"
        data-swiper-slide-index="0">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/humanitarian.png" alt="logo" />
          <p>Межгосударственный фон гуманитарного сотрудничества государств-участников СНГ</p>
        </a>
      </div>
      <div class="swiper-slide swiper-slide-next partner__card" role="group" aria-label="1 / 7"
        data-swiper-slide-index="0">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/humanitarian.png" alt="logo" />
          <p>Межгосударственный фон гуманитарного сотрудничества государств-участников СНГ</p>
        </a>
      </div>
      <div class="swiper-slide swiper-slide-next partner__card" role="group" aria-label="1 / 7"
        data-swiper-slide-index="0">
        <a href="" target="_blank" class="partner__card-body">
          <img src="./img/partners/humanitarian.png" alt="logo" />
          <p>Межгосударственный фон гуманитарного сотрудничества государств-участников СНГ</p>
        </a>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>