<li class="sidebar__item">
  <a href="plenum.html" class="sidebar__link">Пленум</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-activity-info.html" class="sidebar__link">Информация о деятельности Пленума</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-members.html" class="sidebar__link">Члены Пленума</a>
  <i class="bi bi-chevron-right"></i>
</li><li class="sidebar__item">
  <a href="plenum-resolutions.html" class="sidebar__link">Постановления Пленума</a>
  <i class="bi bi-chevron-right"></i>
</li>