@@loop("./_sidebar-item.html", [
{"title": "О суде", "url": "about-court.html"},
{"title": "Компетенция", "url": "competence.html"},
{"title": "Правовая основа деятельности", "url": "legal-basis-activity.html"},
{"title": "Структура", "url": "structure.html"},
{"title": "Реестр судей", "url": "judges-register.html"},
{"title": "Председатель", "url": "chairman.html"},
{"title": "Аппарат", "url": "apparatus.html"},
{"title": "Научно-консультативный совет", "url": "scientific-advisory-board.html"},
{"title": "История", "url": "#"}
])