<section class="container court-news">
  <div class="row">
    <div class="col-9">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h2-title">Новости суда</h2>
        <a class="d-flex gap-2 link-with-chevron" href="#">
          <span>Все новости</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="news-card">
              <div class="news-card__img">
                <img class="" src="./img/news-bg.png" alt="...">
              </div>
              <div class="d-flex flex-column justify-content-between">
                <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                  Плотников
                  А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                  участие...
                </a>
                <div class="d-flex gap-2">
                  <span class="color-gray-dark">29.11.2024</span>
                  <a href="#" class="link">Новости Суда</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="news-card">
              <div class="news-card__img">
                <img class="" src="./img/news-bg.png" alt="...">
              </div>
              <div class="d-flex flex-column justify-content-between">
                <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                  Плотников
                  А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                  участие...
                </a>
                <div class="d-flex gap-2">
                  <span class="color-gray-dark">29.11.2024</span>
                  <a href="#" class="link">Новости Суда</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="news-card">
              <div class="news-card__img">
                <img class="" src="./img/news-bg.png" alt="...">
              </div>
              <div class="d-flex flex-column justify-content-between">
                <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                  Плотников
                  А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                  участие...
                </a>
                <div class="d-flex gap-2">
                  <span class="color-gray-dark">29.11.2024</span>
                  <a href="#" class="link">Новости Суда</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="h2-title">Полезные ссылки</h2>
      </div>
    </div>
  </div>
</section>