<section class="container court-news">
  <div class="row gx-5">
    <div class="col-12 col-lg-9">
      @@include("../components/_section-title.html", {"title": "Новости суда", "link": "Все новости"})

      <div class="row row-cols-1 row-cols-xl-2 row-gap-3 mt-3 gx-5">
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg2.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-default-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg2.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-default-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-bg2.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card" data-aos="fade-up">
            <div class="news-card__img">
              <img class="" src="./img/news-default-bg.png" alt="...">
            </div>
            <div class="d-flex flex-column justify-content-between">
              <a href="#" class="news-card__text">18 декабря 2024 года Председатель Экономического Суда СНГ
                Плотников
                А.В. и советник Панфёрова Л.А. приняли участие приняли участие приняли участие приняли
                участие...
              </a>
              <div class="d-flex gap-2 fs-14">
                <span class="color-gray-dark">29.11.2024</span>
                <a href="#" class="link">Новости Суда</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-1 mt-5 mt-lg-3 g-4">
        <div class="col">
          <a class="news-activity" data-aos="fade-left" href="#">
            <div class="news-activity__img">
              <img class="w-100" src="./img/news-activities/news-activity1.png" alt="Судебные акты">
            </div>
            <p class="news-activity__text">судебные акты</p>
          </a>
        </div>
        <div class="col">
          <a class="news-activity" data-aos="fade-left" href="#">
            <div class="news-activity__img">
              <img class="w-100" src="./img/news-activities/news-activity2.png" alt="Обзор судебной практики">
            </div>
            <p class="news-activity__text">Обзор судебной практики</p>
          </a>
        </div>
        <div class="col">
          <a class="news-activity" data-aos="fade-left" href="#">
            <div class="news-activity__img">
              <img class="w-100" src="./img/news-activities/news-activity3.png"
                alt="Справочно-статистическая информация">
            </div>
            <p class="news-activity__text">Справочно-статистическая информация</p>
          </a>
        </div>
        <div class="col">
          <a class="news-activity" data-aos="fade-left" href="#">
            <div class="news-activity__img">
              <img class="w-100" src="./img/news-activities/news-activity4.png" alt="Пленум">
            </div>
            <p class="news-activity__text">Пленум</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>