<header class="container-fluid header">
  <div class="container">
    <div class="d-flex align-items-center pb-4 position-relative">
      <a href="index.html"><img class="header__logo" src="./img/logo.png" alt="лого" /></a>
      <h1 class="color-white d-none d-lg-block fw-medium header__title">
        Экономический Суд Содружества Независимых Государств
      </h1>
    </div>
    <nav class="header__nav d-flex align-items-center justify-content-between gap-3">
      <ul class="d-flex gap-2 gap-xl-4 p-0 mb-0 align-items-center mr-3">
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="about-court.html" class="dropdown-toggle">о суде</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="competence.html">Компетенция</a>
              </li>
              <li>
                <a class="dropdown-item" href="legal-basis-activity.html">Правовая основа деятельности</a>
              </li>
              <li>
                <a class="dropdown-item" href="structure.html">Структура</a>
              </li>
              <li>
                <a class="dropdown-item" href="judges-register.html">Реестр судей</a>
              </li>
              <li>
                <a class="dropdown-item" href="chairman.html">Председатель</a>
              </li>
              <li>
                <a class="dropdown-item" href="apparatus.html">Аппарат</a>
              </li>
              <li>
                <a class="dropdown-item" href="scientific-advisory-board.html">Научно-консультативный
                  совет</a>
              </li>
              <li>
                <a class="dropdown-item" href="history.html">История</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="appeal-procedure.html" class="nav__item">порядок обращения</a>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="court-cases.html" class="dropdown-toggle">судебные дела</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> Информация о судебных делах </a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Судебные акты </a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Аннотации решений </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="plenum.html" class="dropdown-toggle">пленум</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="plenum-activity-info.html">Информация о деятельности
                  Пленума</a>
              </li>
              <li>
                <a class="dropdown-item" href="plenum-members.html"> Члены Пленума </a>
              </li>
              <li>
                <a class="dropdown-item" href="plenum-resolutions.html"> Постановления Пленума </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">аналитика</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Экспертно-аналитическая деятельность</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Обзоры судебной практики</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Судебная статистика</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Справочно-статистическая информация</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Отчёты о деятельности</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">новости</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Новости Суда</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Новости Содружества</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Новости высших национальных судов</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Архив новостей</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../press-center.html" class="dropdown-toggle">пресс-центр</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Издания</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Публикации</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Международные конференции</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Информационные партнеры</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Каталог ссылок</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="../about-court.html" class="nav__item">контакты</a></li>
      </ul>
      <form class="header__search pb-2" action="">
        <input class="input" type="text" placeholder="Поиск" />
        <button type="submit"><i class="bi bi-search color-gray-dark"></i></button>
      </form>
    </nav>
  </div>
</header>
@@include("_mobile-header.html")