<header class="container-fluid header">
  <div class="container">
    <div class="d-flex align-items-center gap-3 pb-4">
      <a href="/"><img class="header__logo" src="./img/logo.png" alt="лого" /></a>
      <h1 class="fs-24 color-white d-none d-lg-block fw-medium">Экономический Суд Содружества Независисмых
        Госудраств
      </h1>
    </div>
    <nav class="header__nav d-flex align-items-center justify-content-between gap-3">
      <ul class="d-flex gap-2 gap-xl-4 p-0 mb-0 align-items-center mr-3">
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">о суде</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Компетенция</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Правовая основа деятельности</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Структура</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Реестр судей</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Председатель</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Аппарат</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Научно-консультативный совет</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">История</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="../appeal-procedure.html" class="nav__item">порядок&nbsp;обращения</a>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">судебные дела</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"> Информация о судебных делах </a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Судебные акты </a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Аннотации решений </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">пленум</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Информация о деятельности Пленума</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Члены Пленума </a>
              </li>
              <li>
                <a class="dropdown-item" href="#"> Постановления Пленума </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">аналитика</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Экспертно-аналитическая деятельность</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Обзоры судебной практики</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Судебная статистика</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Справочно-статистическая информация</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Отчёты о деятельности</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../about-court.html" class="dropdown-toggle">новости</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Новости Суда</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Новости Содружества</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Новости высших национальных судов</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Архив новостей</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="dropdown header-dropdown cursor-pointer" aria-expanded="false">
            <a href="../press-center.html" class="dropdown-toggle">пресс-центр</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Издания</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Публикации</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Международные конференции</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Информационные партнеры</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Каталог ссылок</a>
              </li>
            </ul>
          </div>
        </li>
        <li><a href="../about-court.html" class="nav__item">контакты</a></li>
      </ul>
      <div class="header__search pb-3">
        <input class="input" type="text" placeholder="Поиск" />
        <button type="button"><i class="bi bi-search"></i></button>
      </div>
    </nav>
  </div>
</header>