.banner {
  margin-top: 50px;
  height: 250px;
  display: block;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;

  @media (max-width: 768px) {
    height: auto;
    aspect-ratio: 4 / 3;
    background-image: url("../img/mobile-banner.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.banner-bottom {
  margin-block: 80px;
  height: 200px;
  background-image: url("../img/banner-bottom.png");
  padding-inline: 150px;

  & span {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .banner-bottom {
    height: 180px;
    padding-inline: 20px;
    background-size: cover;

    & span {
      font-size: 24px;
    }
  }
}

@media (max-width: 768px) {
  // .banner {
  //   display: none;
  // }

  .banner-bottom {
    height: 150px;
    padding-inline: 20px;

    & span {
      font-size: 16px;
    }
  }
}
