.banner {
  margin-top: 50px;
  height: 220px;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.banner-bottom {
  margin-block: 80px;
  height: 200px;
  background-image: url("../img/banner-bottom.png");
  padding-inline: 150px;

  & span {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
}
