.input {
  padding: 10px;
  background-color: var(--white);
  height: 44px;
  font-size: 14px;
  width: 100%;
}

.link {
  color: var(--blue);
  transition: all 0.15s linear;

  &:hover {
    color: var(--blue-dark);
  }
}

.link-white {
  color: var(--white);
  transition: all 0.15s linear;

  &:hover {
    color: var(--blue-light);
  }
}

.link-with-chevron {
  position: relative;
  transition: all 0.15s linear;

  & span {
    color: var(--blue);
    font-weight: 500;
  }

  &:hover span {
    color: var(--blue-dark);
    font-weight: 500;
  }

  & i {
    font-size: 20px;
    color: var(--blue);
    transition: all 0.15s linear;
  }

  & i:before {
    vertical-align: -0.01em;
  }

  &:hover i {
    color: var(--blue-dark);
  }

  &:before {
    content: "";
    width: 0;
    position: absolute;
    height: 2px;
    background-color: var(--blue-dark);
    bottom: 0;
    left: 0;
    transition: all 0.15s linear;
  }

  &:hover:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: var(--blue-dark);
    bottom: 0;
    left: 0;
  }
}
