.footer {
  background-color: var(--blue);
  color: #fff;
  padding-block: 40px;
  padding-inline: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin-block: 32px;

    @media (max-width: 576px) {
      row-gap: 8px;
      column-gap: 180px;
    }
  }

  &__column:last-child {
    @media (max-width: 576px) {
      margin-top: 24px;
    }
  }

  &__title {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  }

  &__logo {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
  }

  &__site-map {
    @media (max-width: 576px) {
      margin-bottom: 18px;
    }
  }

  &__copyright {
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}
