.header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;

  padding-top: 16px;

  &__search {
    position: relative;
    max-width: 366px;
    width: 100%;

    & button {
      position: absolute;
      right: 14px;
      top: 10px;
      font-size: 20px;
      background-color: transparent;
    }
  }
}

.header-dropdown {
  & .dropdown-toggle {
    padding-bottom: 32px;
    padding-top: 12px;
    display: block;
    color: var(--white);
    text-transform: uppercase;
    display: block;
    font-weight: 500;
  }

  & .dropdown-menu {
    margin-top: -3px;
    display: block;
    transition: all 0.15s linear;
    visibility: hidden;
    opacity: 0;
    background-color: var(--blue);
    border-radius: 0;
    border: none;
    border-top: 3px solid var(--blue-light);

    & .dropdown-item {
      color: var(--white);
      padding: 8px;
    }

    & .dropdown-item:hover {
      color: var(--blue-light);
      background-color: var(--blue);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.header-dropdown:hover {
  & .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  & .dropdown-toggle {
    color: var(--blue-light);
  }
}

.nav__item {
  padding-bottom: 29px;
  padding-top: 12px;
  display: block;
  border-bottom: 3px solid transparent;
  font-weight: 500;

  color: var(--white);
  text-transform: uppercase;

  &:hover {
    color: var(--blue-light);
    border-bottom: 3px solid var(--blue-light);
  }
}
