.header {
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  padding-top: 80px;
  padding-inline: 0;
  display: block;

  @media (max-width: 1790px) {
    padding-top: 16px;
  }

  &__search {
    position: relative;
    max-width: 366px;
    width: 100%;

    & button {
      position: absolute;
      right: 14px;
      top: 10px;
      font-size: 20px;
      background-color: transparent;
    }
  }

  &__title {
    font-size: 32px;

    @media (max-width: 1790px) {
      font-size: 24px;
    }
  }

  &__logo {
    position: absolute;
    top: -50px;
    left: -170px;
    width: 150px;
    height: 150px;
    margin-right: 0;

    @media (max-width: 1790px) {
      position: static;
      width: 120px;
      height: 120px;
      margin-right: 16px;
    }
  }
}

.header-dropdown {
  & .dropdown-toggle {
    padding-bottom: 32px;
    padding-top: 12px;
    display: block;
    color: var(--white);
    text-transform: uppercase;
    display: block;
    font-weight: 500;

    @media screen and (max-width: 1200px) {
      font-size: 14px;
    }
  }

  & .dropdown-menu {
    margin-top: -3px;
    display: block;
    transition: all 0.15s linear;
    visibility: hidden;
    opacity: 0;
    background-color: var(--blue);
    border-radius: 0;
    border: none;
    border-top: 3px solid var(--blue-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding-block: 0;

    & .dropdown-item {
      background-color: var(--blue);
      color: var(--white);
      padding: 8px;
    }

    & .dropdown-item:hover {
      color: var(--blue);
      background-color: var(--blue-light);
    }

    & .dropdown-item:active {
      color: var(--white);
      background-color: var(--blue-dark);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.header-dropdown:hover {
  & .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  & .dropdown-toggle {
    color: var(--blue-light);
  }
}

.nav__item {
  padding-bottom: 29px;
  padding-top: 12px;
  display: block;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;

  &:hover {
    color: var(--blue-light);
    border-bottom: 3px solid var(--blue-light);
  }

  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
}
