.header {
  background-color: var(--blue);
  padding-top: 16px;
  // padding-bottom: 12px;

  &__search {
    position: relative;

    & i {
      position: absolute;
      right: 14px;
      top: 12px;
      font-size: 20px;
    }
  }
}

.header-dropdown {
  & .dropdown-toggle {
    padding-bottom: 24px;
    padding-top: 12px;
    display: block;
    color: var(--white);
    text-transform: uppercase;
  }

  & .dropdown-menu {
    margin-top: 0px;
    display: block;
    transition: all 0.15s linear;
    visibility: hidden;
    opacity: 0;
    background-color: var(--blue);
    border-radius: 0;
    border: none;
    border-top: 2px solid var(--blue-light);

    & .dropdown-item {
      color: var(--white);
      padding: 8px;
    }

    & .dropdown-item:hover {
      color: var(--blue-light);
      background-color: var(--blue);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.header-dropdown:hover {
  & .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  & .dropdown-toggle {
    color: var(--blue-light);
  }
}

.nav__item {
  padding-bottom: 28px;
  padding-top: 12px;
  display: block;
  border-bottom: 2px solid transparent;

  color: var(--white);
  text-transform: uppercase;

  &:hover {
    color: var(--blue-light);
    border-bottom: 2px solid var(--blue-light);
  }
}
