.sidebar {
  margin-bottom: 40px;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray);

    &.active .sidebar__link,
    &.active i {
      color: var(--blue);
    }

    & i {
      color: var(--black);
      font-size: 20px;
    }
  }

  &__link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: var(--blue);
    }

    &:hover + i {
      color: var(--blue);
    }
  }
}
