.mb-80 {
  margin-bottom: 80px;
}

.mb-40 {
  margin-bottom: 40px;
}

.hover-no {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.w-100-to-75 {
  width: 75%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
