.mb-80 {
  margin-bottom: 80px;
}

.mb-40 {
  margin-bottom: 40px;
}

.hover-no {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.w-100-to-75 {
  width: 75%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.w-100-to-45 {
  width: 45%;
  margin-inline: auto;

  @media (max-width: 768px) {
    width: 80%;
    height: 80%;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.fs-120 {
  font-size: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
}

.pt-180 {
  padding-top: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
}

.elements-styles {
  & ul {
    padding-left: 20px;
    margin-bottom: 8px;

    & > li {
      position: relative;
    }

    & > li:not(:last-child) {
      margin-bottom: 8px;
    }

    & > li:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: var(--blue);
      border-radius: 50%;
      left: -14px;
      top: 8px;
    }
  }

  & a {
    color: var(--blue);
    text-decoration-color: var(--black) !important;
    transition: all 0.15s linear;

    &:hover {
      color: var(--black);
      text-decoration-line: underline;
      text-decoration-color: var(--black);
    }
  }
}
