@use "normalize";
@use "variables";
@use "components";
@use "utilities";
@use "header";
@use "mobile-header";
@use "footer";
@use "banner";
@use "court-news";
@use "news-tabs";
@use "partners";
@use "breadcrumbs";
@use "about-court";
@use "sidebar-menu";
@use "judge-register";

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  height: 100%;
  background-color: var(--white);
}

.container {
  max-width: 1464px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}
